[flake8]
exclude =
    */venv/*
    ./migrations/*
    *.git
    */__pycache__/*
    */__init__.py
    src/db/base.py
    src/media
    src/logs
ignore = A003, VNE003, B012
extend-immutable-calls = Depends, fastapi.Depends, fastapi.params.Depends
max-line-length=100
max-cognitive-complexity=9
inline-quotes = '
