<!DOCTYPE html>
<html>
    <head>
        <title>Game</title>
        <link rel="stylesheet" href="/static/style.css"/>
    </head>
    <body>
        <section id="main">

            <div>
                <h1> Create new game </h1>
                <button id="create-game"> create </button>
            </div>

            <div id="games">
                <ul id="game-list">
                </ul>
                <div id="no-games">
                </div>
            </div>

        </section>

        <script src="/static/game.js"></script>
    </body>
</html>
